*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0px solid rgb(88, 0, 0);
    scrollbar-width: thin;/*firefox*/
}
html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    overflow: overlay;
}
:root{
    --baseColor: rgb(255, 255, 255);
    --baseColorOpacity: rgba(255, 255, 255, 0.7);
    --baseColorInvert: rgb(0, 0, 0);
    --baseColorInvertOPacity: rgba(0, 0, 0, 0.7);
    --cubicBezier: cubic-bezier(0,1,.25,1);
}

:any-link{
    text-decoration: none;
    color: white;
}
main{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.evently{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.evently-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
}
.contact a{
    text-decoration: underline;
    margin: 0.5rem;
    margin-left: 1rem;
}
body{
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 20%,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),url("images/background.jpg");
    background-attachment: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding-top: 3rem;
    height: 1000vh;
}
p{
    margin: 0.5rem;
    font-size: 1rem;
}
h1{
    font-size: 4rem;
    font-weight: 900;
    opacity: .8;
}
h2{
    font-size: 2rem;
    font-weight: 900;
    opacity: .8;
}
li{
    margin-left: 2rem;
}
::-webkit-scrollbar {
    width: 1rem;
    border-radius: 1rem;
}
::-webkit-scrollbar-track {
    background: rgba(218, 218, 218, 0.5);
    border-radius: 1rem;
    margin: 3rem;
    border: 4px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(68, 68, 68);
    border-radius: 1rem;
    width: 0.6rem;
    border: 4px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
}
::-webkit-scrollbar-corner {
    display: none;
}
/*IMAGES*/
.sample{
    width: 50%;
    margin: 1rem auto;
    border-radius: 1rem;
}
:focus{
    outline: none;
}
.profile-img{
    width: 6rem;
    border-radius: 50%;
    shape-outside: circle();
    margin: 0.5rem;
    float: left;
}
.gallery img{
    min-width: 5rem;
    max-width: 20%;
    margin: 1rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
#prev-button{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--baseColor);
    background: linear-gradient(90deg, rgba(0,0,0,0.5029717453387605) 0%, rgba(0,0,0,0) 50%);
    font-size: 4rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    z-index: 21;
    cursor: pointer;
    transition: 0.4s ease;
    user-select: none;
}
#next-button{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--baseColor);
    background: linear-gradient(-90deg, rgba(0,0,0,0.5029717453387605) 0%, rgba(0,0,0,0) 50%);
    font-size: 4rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    z-index: 21;
    cursor: pointer;
    transition: 0.4s ease;
    user-select: none;
}
#next-button:hover, #prev-button:hover{
    font-size: 6rem;
}
/*popup*/
.popup{
    cursor: pointer;
}
#popup-window{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scaleY(0);
    max-width: 60rem;
    min-width: 20rem;
    max-height: 90%;
    width: 90%;
    background-color: var(--baseColor);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    transition: transform 0.5s var(--cubicBezier);
}
#popup-gallery{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}
#popup-gallery img{
    height: 100%;
    width: 100%;
}
#popup-header{
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--baseColorOpacity);
    top: 0;
}
#popup-title{
    font-size: 2rem;
    margin: 0.5rem 1rem;
    text-align: center;
    color: var(--baseColorInvert);
}
#popup-text,#popup-content{
    color: var(--baseColorInvert);
    margin: 1rem;
}
#close-button{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: var(--baseColor);
    font-size: 2rem;
    background-color: var(--baseColorInvert);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 21;
    cursor: pointer;
    transition: 0.4s ease;
}
#close-button:hover{
    transform: scale(1.2) rotate(90deg);
}
#popup-bgfade{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    z-index: 9;
    transition: all 0.3s ease;
}

.hint{
    color: gray;
    margin: 0 auto;
    font-size: 0.8rem;
}
.card{
    min-width: 20rem;
    max-width: 40%;
    margin: 1.5rem;
    background-color: var(--baseColor);
    color: var(--baseColorInvert);
    padding: 0.5rem;
    border-radius: 1rem;
}
.card h2{
    pointer-events: none;
}
.hoverE{
    transition: all 1s cubic-bezier(.03,.31,.1,.95);
    transform-style: preserve-3d;
}
.hoverE:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.hoverE:hover h3{
    transform: translateZ(4rem) translate(-50%, 80%);
}

.hoverE h3{
    position: absolute;
    color: var(--baseColor);
    font-size: 1.5rem;
    text-shadow: 0 5px 10px black;
    top: -1rem;
    left: 50%;
    transform: translateZ(0) translateX(-50%) translateY(0);
    white-space: nowrap;
    transition: transform 1s ease;
    pointer-events: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--baseColorInvertOPacity);
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 8;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.intro{
    background-color: var(--baseColor);
    color: var(--baseColorInvert);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: all 0.3s ease-in;
    pointer-events: none;
}
.intro .content{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.intro .content img{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
}
.navLink{
    display: inline-block;
    padding: 0.5rem;
    transition: transform 0.1s linear;
    color: white;
    text-decoration: none;
    z-index: 9;
    padding: 0.5rem;
    margin: 0.3rem;
}
#active{
    border-radius: 1rem;
    font-weight: bold;
    background-color: var(--baseColor);
    color: var(--baseColorInvert);
}
.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 2rem;
}
.logo p{
    font-weight: bold;
    margin: auto 1rem;
}
.cursor {
    pointer-events: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    height: 2.2rem;
    width: 4.4rem;
    opacity: 0;
    mix-blend-mode: difference;
    z-index: 10;
}
.navLink:hover:not(#active) ~ .cursor {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.toTopBtn{
    position: fixed;
    top: -2rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--baseColorInvert);
    color: var(--baseColorOpacity);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 0.3rem 0.6rem;
    z-index: 8;
    font-size: 0.8rem;
}

/*respo and support*/
.sideMenu nav{
    flex-direction: column;
    align-items: center;
}
.sideMenu nav span{
    margin: 0.5rem;
}
.sideMenu{
    position: fixed;
    top: -1rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background-color: var(--baseColorInvert);
    transition: all 0.7s var(--cubicBezier);
}
.sideMenuBackground{
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: 0.5s var(--cubicBezier);
    opacity: 0;
    pointer-events: none;
}
#moreBtn{
    margin: 0 2rem;
    display: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.outdated{
    font-size: 3rem;
    display: none;
    position: fixed;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .sideMenu, header, .toTopBtn{
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
    #popup-header{
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
}
@media(max-width: 600px){
    header nav{
        display: none;
    }
    .logo p{
        display: none;
    }
    #moreBtn{
        display: block;
        font-size: 1.5rem;
    }
    .sideMenu{
        border: 1px solid black;
    }
    .card{
        max-width: 100%;
        margin: 1.5rem 0.5rem;
    }
}
@media(max-width: 600px), (pointer: coarse){
    main{
        justify-content: center;
        width: 95%;
    }
    body{
        background: rgb(29, 29, 29);
    }
    .hoverE:hover{
        transform: none;
    }
    .hoverE:hover h3{
        transform: translateY(0) translateZ(0) translateX(-50%);
    }
    h1{
        font-size: 2rem;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .outdated{
        display: block;
    }
    main{
        display: none;
    }
  }